/* body{
    background-color:bisque;
}
img{
    height: 100px;
}
figcaption{
    font-size: 40px;
    font-weight: 799px;
}
input{
    height: 30px;
    width: 30%;
}
.btn{
    margin-top: 30px;
    height: 30px;
    width: 305;
} */